<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Añade un nuevo juego</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/css/JavaScript.js"></script>
</head>
<body background="https://static.vecteezy.com/system/resources/previews/002/626/722/non_2x/dark-blue-background-with-small-and-big-stars-blur-decorative-design-in-simple-style-with-stars-pattern-for-websites-landing-pages-vector.jpg">

<h1 class="box">Cambia tu contraseña</h1>

<div class="margin">
    <form action="/passwordChanged" method="post">
        <input type="hidden" name="_csrf" value="{{token}}"/>
        <label style="color: white">Introduce tu nueva contraseña:</label>
        <br>
        <label>
            <input name='password' type='password'>
        </label>
        <br>
        <hr style="width:30%;">
        <input class="minibutton" type="submit" value="CONFIRMAR" style="background-color: #009900">
    </form>
    <br>
    <a class="minibutton" href="/home/" style="background-color: red">Volver al inicio</a>
</div>
</body>
</html>