<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pedido borrado</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/css/JavaScript.js"></script>
</head>
<body background="https://static.vecteezy.com/system/resources/previews/002/626/722/non_2x/dark-blue-background-with-small-and-big-stars-blur-decorative-design-in-simple-style-with-stars-pattern-for-websites-landing-pages-vector.jpg">
<input type="hidden" name="_csrf" value="{{token}}"/>
<h1 class="box">EL PEDIDO HA SIDO BORRADO CON ÉXITO</h1>
<a class="button" href="/allGames" style="background-color: red">Volver a juegos</a>
<a class="button" href="/home/" style="background-color: red">Volver al inicio</a>
<a class="button" href="/showOrders" style="background-color: red">Volver a mis pedidos</a>

</body>
</html>