<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Juegos</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/css/JavaScript.js"></script>

</head>

<body background="https://static.vecteezy.com/system/resources/previews/002/626/722/non_2x/dark-blue-background-with-small-and-big-stars-blur-decorative-design-in-simple-style-with-stars-pattern-for-websites-landing-pages-vector.jpg">
<input type="hidden" name="_csrf" value="{{token}}"/>
<div>
    <h1 class="box">Administrar usuarios</h1>
    {{#users}}
    <h3>{{nombre}}</h3>
    <a class="minibutton" href="/deleteUser/{{id_usuario}}">Borrar usuario</a>
    <br>
    -----------------------------
    {{/users}}
</div>
<br>
<a class="button" href="/home/" style="background-color: red">Volver al inicio</a>
<br>
<br>
<br>
<br>
<br>
<button class="minibutton" id="BackButton" onclick="back()" style="background-color:green">Volver</button>

<br>
<br>
<a class="minibutton" value="Refresh site" style="background-color:green" onclick="refresh()">Recargar sitio</a>

</body>

</html>